grad-cam
jupyter
llama-cpp-python
matplotlib
numpy
onnxruntime
opencv-python
pandas
pytest
python-dotenv
rich
scikit-learn
torch
torchvision
tqdm
ultralytics @ git+https://github.com/ralampay/ultralytics
libreyolo[onnx] @ git+https://github.com/ralampay/libreyolo.git@release
