grad-cam
jupyter
llama-cpp-python
matplotlib
motmetrics>=1.4.0
numpy
onnxruntime
opencv-python
pandas
pytest
python-dotenv
rich
scikit-learn
scipy>=1.10.0
torch
torchvision
tqdm
ultralytics @ git+https://github.com/ralampay/ultralytics
libreyolo[onnx] @ git+https://github.com/ralampay/libreyolo.git@release
